html{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
background-color: #ad4361;
}
div.ficha{
width:200px;
height:120px;
float: left;
margin: 15px;
}
ul#menu {
margin:1px;
padding:1px;
list-style-type:none;
}
#menu li {
background-color:#fcbcd3;
border:#eb91b2 3px solid;
margin: 1px;
float: left;
}
